<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Detail</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Customer Detail</h1>
    <p><strong>Name:</strong> <%= customer.name %></p>
    <p><strong>Birthday:</strong> <%= new Date(customer.birthday).toLocaleDateString('en-GB') %></p>
    <p><strong>Gender:</strong> <%= customer.gender ? 'Male' : 'Female' %></p>
    <p><strong>Email:</strong> <%= customer.email %></p>
    <p><a href="/customers/edit/<%= customer._id %>">Edit Customer</a></p>
    <a href="/customers">Back to Customer List</a>
</body>
</html>